.App {
  display: flex;
  justify-content: space-between;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5bbf58a6-1e85-4cfe-83fd-02df6f482b45/de8nlib-6bed7b3d-3d7e-4763-bb60-18f5ee0127fd.png/v1/fill/w_1024,h_652,q_80,strp/background_prairie_pokemon_screencapture_by_nemotrex_de8nlib-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjUyIiwicGF0aCI6IlwvZlwvNWJiZjU4YTYtMWU4NS00Y2ZlLTgzZmQtMDJkZjZmNDgyYjQ1XC9kZThubGliLTZiZWQ3YjNkLTNkN2UtNDc2My1iYjYwLTE4ZjVlZTAxMjdmZC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ZVgNGi61AOkC068E-wphWmAUW8amj0MiJySqDcMCVh8);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.pokedex-container {
  width: 796px;
  height: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.top-pokedex {
  width: 796px;
  height: 290px;
}

.screen {
  width: 790px;
  height: 630px;
  background: rgba(212, 238, 255, 0.9);
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
}

.screen-pokedex {
  padding: 10px;
  height: 540px;
  display: flex;
  flex-direction: column;
}
.bottom-pokedex {
  width: 796px;
  height: 290px;
}

.header {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
}

.screen-pokedex .pokedex-grid .pokemon-card {
  display: flex;
  flex-direction: column;
}

.screen-pokedex .pokedex-grid .pokemon-card .card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav {
  height: 90px;
  display: flex;
}

.pagination {
  display: flex;
}

.nav-btns {
  display: flex;
}

.searchbar-container {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  margin: 0px auto;
  border-radius: 10px 10px 10px 10px;
}

.bar-container {
}

.searchbar {
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.699);
}

.searchbar-container {
}


.card-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.pokemon-img {
  display: flex;
  height:230px;
  flex: 2;
  justify-content: center;
  align-items: center;
  
}
.pokemon-img img {
  height: 200px;
}

.card-body {
  flex: 3;
}
.pokemoncard-info {
  display: flex;
  align-items: center;
}

.pokemoncard-img {
  flex-grow: 2;
}

.pokemoncard-img img {
  width: 100%;
}

.pokemoncard-data {
  flex-grow: 3;
}

.pokemoncard-data div {
  border-bottom: 3px solid white;
  color: blue;
}

.pokemoncard-type {
  display: flex;
}

.pokemoncard-typetext {
  margin-right: 10px;
  text-transform: capitalize;
  border: 1px solid white;
}

.pokemon-descriptioncard {
  display: flex;
  justify-content: space-between;
}
